# KubeJS
.probe/

# Agent
tools/
*.lnk
sync.bat

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini

# Cache and temporary files
*.下载
*.module.css
*·*Wiki*

# Sensitive files, if any
*.log
!CHANGELOG.md

.codex/
